
body {
    background-color: black;
}

h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}

footer {
    padding: 60px;
    text-align: center;
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}